# Ignore build outputs from performing a nix-build or `nix build` command
result
result-*

# Fichiers temporaires ou déchiffrés par erreur (ex: sops -d > clear.yaml)
*.decrypted.*
*_decrypted.*

# --- Éditeurs (Comme vous utilisez Neovim/NixVim) ---
*.swp
*.swo


.pre-commit-config.yaml
