# --- Nix Build Artifacts ---
result
result-*
repl-result

# --- Sops & Sécurité (CRITIQUE) ---
# Clés privées (ne jamais commiter)
keys.txt
*.key
*.pem
# Fichiers déchiffrés temporaires
*.decrypted.*
*_decrypted.*
*.clear
.env

# --- Outils (Direnv) ---
.direnv/

# --- Éditeurs ---
*.swp
*.swo
*~
.idea/
.DS_Store
